# Web Crawler (https://docs.scrapy.org/en/latest/)
Scrapy >= 2.7
regex >= 2022
pandas >= 1.5
numpy >= 1.20
python-dateutil >= 2.8
matplotlib >= 3.6
scipy >= 1.9
scikit-posthocs >= 0.7
torch >= 1.13
catboost >= 1.0.6
notebook >= 6.5
pyarrow >= 10
scikit-learn >= 1.2